%h3 {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'GilroyBlack';

  @media (max-width:790px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media (max-width:570px) {
    font-size: 22px;
    line-height: 26px;
  }
  @media (max-width:460px) {
    font-size: 20px;
    line-height: 24px;
  }
}

%h4 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: 'GilroyBold';
  font-size: 20px;
  line-height: 24px;
  @media (max-width:790px) {
    font-size: 16px;
    line-height: 22px;
  }
}