.advert-header .header__category-link--active:after {
  background-color: #55B570;
}

.advert-top {
  padding-top: 20%;
  background-image: url('../images/advert-top-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 850px;
}

  .top__subtitle {
    margin-bottom: 56px;
  }

  .top__choice-btn {
    &:after {
      position: absolute;
      width: 10px;
      height: 20px;
      right: 45px;
      background-image: url('../images/arr-down.svg');
    }
    &:hover:after {
      transform: translate(0, -30%);
    }
  }
  .top__choice-link {
    &:after {
      width: 20px;
      height: 10px;
      right: 40px;
      background-image: url('../images/arr-right.svg');
    }
    &:hover:after {
      transform: translate(20%, -50%);
    }
  }

.facts {
  padding-top: 50px;
  padding-bottom: 90px;

  // .facts__title

  &__title {
    color: #000;
    margin-bottom: 80px;
    @extend %h3;
  }

  // .facts__items

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  // .facts__item

  &__item {
    max-width: 360px;
    width: 100%;
    padding: 10px;
    margin-bottom: 80px;
    text-align: center;
    margin: 0 10px;
  }


  // .facts__item-img

  &__item-img {
    max-width: 65px;
    margin-bottom: 30px;
  }

  // .facts__item-text

  &__item-text {
    font-weight: 300;
    font-family: 'GilroyLight';
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }

  &__btn-wrapper {
    text-align: center;
  }
}


.preview-block {
  padding: 60px 0 0;
  margin-bottom: 35px;
  border-bottom: 1px solid #D2D2D2;

  // .preview-block__title

  &__title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #2E9ADB;
    font-weight: 900;
    font-size: 60px;
    line-height: 75px;
    font-family: 'GilroyBlack';
  }

  // .preview-block__text

  &__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
    max-width: 728px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .btn-wrapper {
    margin-bottom: -70px;
  }

  &__imgwrapper {
    cursor: pointer;
    display: inline-block;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 24px;
      height: 14px;
      background-image: url('../images/preview-arr.svg');
      transition: all .3s;
    }
    &.active:after {
      transform: translate(-50%, 0), rotate(180deg);
      background-image: url('../images/preview-arr-green.svg');
    }
  }

  &__content {
    margin-bottom: 60px;
  }
}


.directions {
  &__content {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px dashed #D2D2D2;
  }

  // .directions__title

  &__title {
    margin-bottom: 80px;
    @extend %h3;
    text-align: center;
    text-transform: uppercase;
  }

  &__box {
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 0 60px;
  }

  // .directions__content-title

  &__content-title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: 'GilroyBold';
    margin-bottom: 60px;
  }

  // .directions__content-items

  &__content-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  // .directions__content-item

  &__content-item {
    padding: 40px 30px 30px;
    text-align: center;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 174px;
    min-height: 174px;
    margin: 0 15px 30px;
  }

  // .directions__content-img

  &__content-img {
    max-width: 79px;
  }

  // .directions__content-name

  &__content-name {
    font-family: 'GilroyBold';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
  }
}


.directions {
  &__cases {
    padding: 60px 0;
    border-bottom: 1px dashed #D2D2D2;
  }

  &__cases-title {
    @extend %h4;
  }
}



.case {
  text-align: center;
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;

  &__img {
    margin-bottom: 60px;
  }

  // .item-cases__box

  &__box {
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .case__column

  &__column {
    width: 330px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }

  &__column + .case__column {
    border-left: 1px solid #EBEBEB;
  }

  // .item-cases__name

  &__name {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 19px;
    color: #939393;
  }

  // .item-cases__result

  &__result {
    color: #2E9ADB;
    font-weight: 700;
    font-family: 'GilroyBold';
  }
}


.benefits {
  padding: 60px 0;

  // .benefits__title

  &__title {
    @extend %h4;
  }

  // .benefits__items

  &__items {
    padding: 60px 0;
  }

  &__item + .benefits__item {
    margin-top: 44px;
  }

  // .benefits__item-text

  &__item-text {
    padding-left: 68px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      top: -13px;
      left: 0;
      background-image: url('../images/check-mark.svg'); 
    }
  }
}

.develop {
  // .develop__inner

  &__inner {
    margin: 60px 0 80px;
    padding: 0 60px;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  // .develop__content

  &__content {
    margin-top: 80px;
  }

  // .develop__content-title

  &__content-title {
    @extend %h4;
  }

  // .develop__content-inner

  &__content-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    border-bottom: 1px dashed #D2D2D2;
  }

  // .develop__content-item

  &__content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 480px;
    min-height: 184px;
    padding: 40px 30px;
  }
  
  &__content-item + &__content-item {
    margin-left: 30px;
  }

  // .develop__content-images

  &__content-images {
    flex: 1 1 145px;
  }

  // .develop__content-name

  &__content-name {
    margin-top: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-family: 'GilroyBold';
    color: #939393;
  }

  // .develop__content-info

  &__content-info {
    flex: 1 1 285px;
  }

  // .develop__content-label

  &__content-label {
    font-size: 16px;
    line-height: 19px;
    color: #939393;
    margin-bottom: 20px;
  }

  // .develop__content-text

  &__content-text {
    font-size: 20px;
  }
}

.cycle {
  text-align: center;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px dashed #D2D2D2;

  // .cycle__title

  &__title {
    margin-bottom: 20px;
    @extend %h4;
  }

  // .cycle__subtitle

  &__subtitle {
    line-height: 19px;
    text-align: center;
    color: #939393;
    margin-bottom: 40px;
  }

  // .cycle__img

  &__img {
    margin-bottom: 40px;
  }

  // .cycle__text

  &__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #060606;
  }
}

.products {
  padding: 60px 0;

  // .products__title

  &__title {
    margin-bottom: 60px;
    @extend %h4;
  }

  // .products__items

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 174px);
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  // .products__item

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    width: 174px;
    min-height: 174px;
    text-align: center;
    padding: 40px 10px 30px;
  }

  // .products__item--android

  &__item--android {
    position: relative;

    &::after{
      content: "";
      position: absolute;
      top: 16px;
      right: 16px;
      width: 20px;
      height: 20px;
      background-image: url('../images/android-icon.svg');
    }
  }

  // .products__item-img

  &__item-img {
    margin-bottom: 20px;
    max-width: 64px;
  }

  // .products__item-text

  &__item-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #939393;
  }

  // .products__item--ios

  &__item--ios {
    position: relative;

    &::after{
      content: "";
      position: absolute;
      top: 16px;
      right: 16px;
      width: 20px;
      height: 20px;
      background-image: url('../images/ios-icon.svg');
    }
  }

  // .products__text

  &__text {
    color: #939393;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
  }
}


.writeus {
  text-align: center;
  text-transform: uppercase;

  // .writeus__title

  &__title {
    @extend %h4;
    margin-bottom: 40px;
  }

  // .writeus__text

  &__text {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #939393;
    span {
      color: #2E9ADB;
    }
  }
}
